<%- include ('./partials/header.ejs') %>
<div class="col-md-6 m-auto">
      <div class="card card-body text-center"> 
        <div class="card text-white bg-warning mb-3" >
          <div class="card-header"><h1>Dashboard</h1></div>
          <div class="card-body">
            <h4 class="card-title">Welcome <%= name %></h4>
            <p class="card-text">This is your page.</p>
          </div>
        </div>
  </div>
</div>
<div class="col-md-6 m-auto">
      <div class="card card-body text-center"> 
            <%- include ('./partials/messages.ejs') %> 
            <form action="/dashboard" method="POST">
                  <div class="form-group" margin="auto" style="max-width: 40rem;">
                        <textarea class="form-control" type='text' id='content' name="content" placeholder="What's on your mind today?" rows="3"></textarea>
                        <button type="submit" class="btn btn-outline-primary">Tweet</button>
                  </div>
            </form>
      </div>
</div>

<div class="col-md-6 m-auto">
      <div class="card card-body text-center"> 
            <% tweets.forEach(tweet =>{ %>
                  <div class="card text-white bg-primary mb-3 "  >
                        <div class="card-body">
                        <h4 class="card-title"><%= tweet.message%></h4>
                        <p class="card-text"><%= tweet.dateCreated.toISOString().split('T')[0] %></p>
                        </div>
                  </div>
            <% }) %> 

      </div>
</div>

