<%- include ('./partials/header.ejs') %>
<div class="col-md-10 m-auto">
      <div class="card card-body text-center">
            <div class="card text-white bg-warning mb-3">
                  <div class="card-header">
                        <h1>My Tweets</h1>
                  </div>
                  <div class="card-body">
                        <h4 class="card-title">Welcome <%= user.name %></h4>
                        <p class="card-text">Here you can see all your tweets.</p>
                        <a class="nav-link" href=<%="/users/" +  user._id %>><button type="button" class="btn btn-success">Profile</button></a>
                  </div>
            </div>
      </div>
</div>
<div class="col-md-6 m-auto">
      <div class="card card-body text-center">
            <form action="/dashboard" method="POST">
                  <div class="form-group" margin="auto" style="max-width: 40rem;">
                        <textarea class="form-control" type='text' id='content' name="content"
                              placeholder="What's on your mind today?" rows="3"></textarea>
                        <button type="submit" class="btn btn-outline-primary">Tweet</button>
                        <%- include ('./partials/messages.ejs') %>
                  </div>
            </form>
      </div>
</div>

<div class="col-md-6 m-auto">
      <div class="card card-body text-center">
            <% tweets.forEach(tweet =>{ %>
            <div class="card text-white bg-primary mb-3 ">
                  <a href=<%= "/tweet/" + tweet._id  %> class="list-group-item list-group-item-action active">
                        <div class="card-body">
                              <h4 class="card-title"><%= tweet.message%></h4>
                              <p class="card-text"><%= tweet.dateCreated.toDateString()%>
                                    <%= tweet.dateCreated.toTimeString().split(" ",1)%></p>
                        </div>
                  </a>
                  <%- include ('./partials/deleteForm.ejs', { url : `/tweet/${ tweet._id }`}) %>
            </div>

            <% }) %>

      </div>
</div>