<%- include ('./partials/header.ejs') %> 
<div class="card text-white bg-dark mb-3" style="max-width: 40rem;"  >
      <div class="card-header"><h1>Home Feed</h1></div>
      <div class="card-body">
        <h4 class="card-title">View All Tweets</h4>
        <p class="card-text">Check out what's the world been upto !!!</p>
      </div>
</div>
<%- include ('./partials/messages.ejs') %> 
<form action="/dashboard" method="POST">
      <div class="form-group" margin="auto" style="max-width: 40rem;">
            <textarea class="form-control" type='text' id='content' name="content" placeholder="What's on your mind today?" rows="3"></textarea>
            <button type="submit" class="btn btn-outline-primary">Tweet</button>
      </div>
</form>
<br>
<% tweets.forEach(tweet =>{ %>
      <div class="card text-white bg-primary mb-3" style="max-width: 20rem;" >
            <div class="card-header"><%= tweet.creatorName %></div>
            <div class="card-body">
              <h4 class="card-title"><%= tweet.message%></h4>
              <p class="card-text"><%= tweet.dateCreated.toISOString().split('T')[0] %></p>
            </div>
      </div>
<% }) %> 